### Initial data cleaning and imputation steps

In [1]:
import pandas as pd
# import numpy as np

In [3]:
df = pd.read_csv('dataset.csv')

In [4]:
df.head()

,Country,Sub-national region,latitude,longitude,ISO country code,World region,MPI_Country,MPI_Region,PercPoverty,DepvrIntensity,...,Modis_LAI,Modis_EVI,soil_orgc,soil_phaq,soil_clay,soil_silt,soil_sand,Conflicts_total,Conflicts_totalDeaths,Conflicts_totalDeathsCivilians
0,Afghanistan,Badakhshan,36.734772,70.811995,AFG,South Asia,0.295,0.387,67.5,57.3,...,2.0,732.0,NaN,NaN,NaN,NaN,NaN,21.0,160.0,3.0
1,Afghanistan,Badghis,35.167134,63.769538,AFG,South Asia,0.295,0.466,79.3,58.8,...,2.0,1340.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,Afghanistan,Baghlan,35.804295,69.287753,AFG,South Asia,0.295,0.300,59.7,50.3,...,1.0,884.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,0.0
3,Afghanistan,Balkh,36.755060,66.897537,AFG,South Asia,0.295,0.301,55.7,54.1,...,4.0,2028.0,NaN,NaN,NaN,NaN,NaN,1.0,4.0,0.0
4,Afghanistan,Bamyan,34.810007,67.821210,AFG,South Asia,0.295,0.325,61.0,53.3,...,4.0,1261.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 994 entries, 0 to 993
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         994 non-null    object
 1   Sub-national region             994 non-null    object
 2   latitude                        963 non-null    float64
 3   longitude                       963 non-null    float64
 4   ISO country code                994 non-null    object
 5   World region                    994 non-null    object
 6   MPI_Country                     994 non-null    float64
 7   MPI_Region                      994 non-null    float64
 8   PercPoverty                     994 non-null    float64
 9   DepvrIntensity                  993 non-null    float64
 10  location_type                   963 non-null    object
 11  latlngImputed                   994 non-null    int64
 12  useforspatial                   994 non-null    int64
 13  popDensity                      963 non-null    float64
 14  precipitation                   963 non-null    float64
 15  TimeToCity                      960 non-null    float64
 16  AvgNightLight                   963 non-null    float64
 17  LandClassification              963 non-null    float64
 18  Elevation                       963 non-null    float64
 19  Temperature                     957 non-null    float64
 20  Evaporation                     713 non-null    float64
 21  Modis_LAI                       713 non-null    float64
 22  Modis_EVI                       962 non-null    float64
 23  soil_orgc                       159 non-null    float64
 24  soil_phaq                       162 non-null    float64
 25  soil_clay                       162 non-null    float64
 26  soil_silt                       162 non-null    float64
 27  soil_sand                       161 non-null    float64
 28  Conflicts_total                 963 non-null    float64
 29  Conflicts_totalDeaths           963 non-null    float64
 30  Conflicts_totalDeathsCivilians  963 non-null    float64
dtypes: float64(24), int64(2), object(5)
memory usage: 240.9+ KB

In [6]:
df.shape

(994, 31)

In [8]:
df.dtypes

Country                            object
Sub-national region                object
latitude                          float64
longitude                         float64
ISO country code                   object
World region                       object
MPI_Country                       float64
MPI_Region                        float64
PercPoverty                       float64
DepvrIntensity                    float64
location_type                      object
latlngImputed                       int64
useforspatial                       int64
popDensity                        float64
precipitation                     float64
TimeToCity                        float64
AvgNightLight                     float64
LandClassification                float64
Elevation                         float64
Temperature                       float64
Evaporation                       float64
Modis_LAI                         float64
Modis_EVI                         float64
soil_orgc                         float64
soil_phaq                         float64
soil_clay                         float64
soil_silt                         float64
soil_sand                         float64
Conflicts_total                   float64
Conflicts_totalDeaths             float64
Conflicts_totalDeathsCivilians    float64
dtype: object

In [7]:
df.describe().sum()

latitude                           1025.937510
longitude                          1108.293666
MPI_Country                         995.524189
MPI_Region                          995.701639
PercPoverty                        1278.805830
DepvrIntensity                     1296.943376
latlngImputed                       995.032724
useforspatial                       999.142724
popDensity                        25230.189805
precipitation                      9404.798769
TimeToCity                         8608.455726
AvgNightLight                      1082.683748
LandClassification                 1584.787160
Elevation                          9739.953811
Temperature                        1123.410193
Evaporation                       57800.357721
Modis_LAI                           845.641697
Modis_EVI                         20259.133924
soil_orgc                           331.458626
soil_phaq                           201.178334
soil_clay                           374.572331
soil_silt                           321.484161
soil_sand                           474.759190
Conflicts_total                    1328.235438
Conflicts_totalDeaths              2918.705152
Conflicts_totalDeathsCivilians     2186.037685
dtype: float64

In [9]:
df.isnull().sum()

Country                             0
Sub-national region                 0
latitude                           31
longitude                          31
ISO country code                    0
World region                        0
MPI_Country                         0
MPI_Region                          0
PercPoverty                         0
DepvrIntensity                      1
location_type                      31
latlngImputed                       0
useforspatial                       0
popDensity                         31
precipitation                      31
TimeToCity                         34
AvgNightLight                      31
LandClassification                 31
Elevation                          31
Temperature                        37
Evaporation                       281
Modis_LAI                         281
Modis_EVI                          32
soil_orgc                         835
soil_phaq                         832
soil_clay                         832
soil_silt                         832
soil_sand                         833
Conflicts_total                    31
Conflicts_totalDeaths              31
Conflicts_totalDeathsCivilians     31
dtype: int64

In [28]:
df1 = df.drop(columns=['Conflicts_total', 'Conflicts_totalDeaths', 'Conflicts_totalDeathsCivilians' ])

In [29]:
df2 = df1.drop(columns=['PercPoverty'])

In [30]:
df.isnull().sum()

Country                             0
Sub-national region                 0
latitude                           31
longitude                          31
ISO country code                    0
World region                        0
MPI_Country                         0
MPI_Region                          0
PercPoverty                         0
DepvrIntensity                      1
location_type                      31
latlngImputed                       0
useforspatial                       0
popDensity                         31
precipitation                      31
TimeToCity                         34
AvgNightLight                      31
LandClassification                 31
Elevation                          31
Temperature                        37
Evaporation                       281
Modis_LAI                         281
Modis_EVI                          32
soil_orgc                         835
soil_phaq                         832
soil_clay                         832
soil_silt                         832
soil_sand                         833
Conflicts_total                    31
Conflicts_totalDeaths              31
Conflicts_totalDeathsCivilians     31
dtype: int64

In [32]:
df2.shape

(994, 27)

In [33]:
df2 = df2.dropna(subset=['latitude', 'longitude'])

In [43]:
# fill evaporation and lai with mean
df2['Evaporation'] = df['Evaporation'].fillna(df['Evaporation'].mean())

In [44]:
df2['Modis_LAI'] = df['Modis_LAI'].fillna(df['Modis_LAI'].mean())

In [46]:
df2.head()

,Country,Sub-national region,latitude,longitude,ISO country code,World region,MPI_Country,MPI_Region,DepvrIntensity,location_type,...,Evaporation,Modis_LAI,Modis_EVI,soil_orgc,soil_phaq,soil_clay,soil_silt,soil_sand,Evaporation_m,Modis_LAI_m
0,Afghanistan,Badakhshan,36.734772,70.811995,AFG,South Asia,0.295,0.387,57.3,APPROXIMATE,...,3532.0,2.0,732.0,NaN,NaN,NaN,NaN,NaN,3532.0,2.0
1,Afghanistan,Badghis,35.167134,63.769538,AFG,South Asia,0.295,0.466,58.8,APPROXIMATE,...,1615.0,2.0,1340.0,NaN,NaN,NaN,NaN,NaN,1615.0,2.0
2,Afghanistan,Baghlan,35.804295,69.287753,AFG,South Asia,0.295,0.300,50.3,APPROXIMATE,...,2158.0,1.0,884.0,NaN,NaN,NaN,NaN,NaN,2158.0,1.0
3,Afghanistan,Balkh,36.755060,66.897537,AFG,South Asia,0.295,0.301,54.1,APPROXIMATE,...,1482.0,4.0,2028.0,NaN,NaN,NaN,NaN,NaN,1482.0,4.0
4,Afghanistan,Bamyan,34.810007,67.821210,AFG,South Asia,0.295,0.325,53.3,APPROXIMATE,...,2744.0,4.0,1261.0,NaN,NaN,NaN,NaN,NaN,2744.0,4.0

In [51]:
df2 = df2.dropna(subset=['TimeToCity', 'DepvrIntensity', 'Temperature' ])

In [52]:
df2.isnull().sum()

Country                  0
Sub-national region      0
latitude                 0
longitude                0
ISO country code         0
World region             0
MPI_Country              0
MPI_Region               0
DepvrIntensity           0
location_type            0
latlngImputed            0
useforspatial            0
popDensity               0
precipitation            0
TimeToCity               0
AvgNightLight            0
LandClassification       0
Elevation                0
Temperature              0
Evaporation              0
Modis_LAI                0
Modis_EVI                0
soil_orgc              798
soil_phaq              795
soil_clay              795
soil_silt              795
soil_sand              796
Evaporation_m            0
Modis_LAI_m              0
dtype: int64

In [53]:
df2.shape

(955, 29)

In [56]:
df2.to_csv('final_cleaned_dataset.csv')